.movie-card {
  width: 220px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.movie-card img {
  width: 100%;
}

.movie-info {
  padding: 12px;
}

.movie-info h3 {
  margin: 5px 0;
}

.movie-info p {
  font-size: 14px;
  color: gray;
}

.movie-info button {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background: #f84464;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
